body {
  background-color: #333333 ;
  font-family: "McLaren";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
p{
  
}
.top-div{
 
}
.header{
  background-color:black;
}
.card-body {
min-height: 400px;
}

.card {
  background-color: rgba(17, 16, 15, 0.74);
 
  /* border: solid red 1px; */
  color: white;
  
}
.cards-container {
 /*  background-color: rgba(128, 128, 128, 0.329);
  border: solid 1px blue; */
  max-width: 300px;
  height: 730px;
  margin: 8px;
  transform: scale(0.9,0.9)
  
}

.characters{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container {
  max-width: 90%;
/*   background-color: rgba(128, 128, 128, 0.356); */
}

header {
  overflow: hidden;
  margin: 0;
}
header img {
  margin-left: 50%;
  transform: translateX(-50%);
}

.searchbar{
  background-color: rgb(128, 128, 128);
  display: flex;
  min-width: 50%;
  min-height: 40px;
 justify-content: space-around;
 outline: none; 
 border: 8px solid grey;
 margin-top: 40px;
 color: white

}

.searchbar-div{
 display: flex;
 justify-content: space-around;
}

.character-profile{
  color:white;
  background-color:#222120;
  border-radius: 10px ;
  margin: auto;
  width: 70%;
  padding: 20px;
  margin-top: 20px;
  min-height: 500px;
  
    
}
.profile-image{
  max-width: 100%;
  height: auto;
  transform: scale(0.8,0.8);
  
 float:left;
}

.profile-top{
  float: left;
  margin-right: 50px
}

h3{
  padding-bottom: 10px;
}
h4{
  padding-bottom: 5px;
}
.linkback{
  margin-top:10px
  
}
